jupyter
notebook

asammdf
pyserial

spyder
versioner

pytest
pytest-html

# Found in C:\Program Files (x86)\Kvaser\Canlib\Samples\Python\pycanlib.zip
canlib-1.5.525-py2.py3-none-any.whl
